div.organizer_waiting_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.organizer_groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  div.organizer_group {
    //background-color: @dark-gray-color-10;
    border: 1px solid @base-color-40;
    padding: 5px;
    display: flex;
    margin: 2px;
    flex-direction: column;
    div.organizer_users {
      display: flex;
    }
  }
}

div.organizer_user {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2px;
  border: 1px solid white;
}

#organizer {
  p {
    white-space: nowrap;
    margin: 0;
  }

  a.disabled {
    color: @light-gray-color-60;
    pointer-events: none;
    cursor: default;
  }
  dl {
    margin: 0;
    dt {
      font-weight: bold;
    }
  }
}

.organizer_drop_possible {
  border: 1px dotted @base-color-40 !important;
}

.organizer_drop_hover {
  border: 1px solid @base-color !important;
}